// color guides from https://material.google.com/style/color.html#color-color-palette

$color-primary:         #9E9E9E;   // grey 500
$color-accent:          #E91E63;   // pink 500
$color-background:      #FCE4EC;   // light pink 50
$color-background-alt:  #F8BBD0;   // light pink 100
$color-background-alt2: #F5F5F5;   // light grey 100
$color-text:            #212121;   // grey 900
$color-text-alt:        #414141;   // grey 500

// lighten, darken, and opacity amount preset

$amount: 20%;
